/* text-align,center,left,justify,background,color,padding,border,radius,box-shadow,linear,gradient,shadow,margin-top,bottom,left,right,
display,flex,grid,start,end,center,justify,content,align,padding,margin,none,block,inline-block,indian-red,green,red,pink,deeppink,hotpink,cyan,coral,blue,orange,azure,white,whitesmoke,10px,5px,7px,2rem,1rem,1.3rem,1.5rem,rem,text,div, */

.block{
   height:100vh;
   display:flex;
   justify-content:center;
   align-items:center;
}

.box{
   border:5px solid orange;
   border-radius:5px;
   height:300px;
   width:;
   margin:20px;
   display:;
}











